* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  background: url(imagem\ landing.jpg);
  background-size: cover;
  display: table;
}

.header {
   position: absolute;
   top: 50%;
   left: 52%;
   transform: translate(-50%, -50%);
   text-align: center;
}


.header h1 {
 color: #fff; 
 font-size: 64px;
 font-weight: 800;
 margin-bottom: 8px;
 text-shadow:#000000 4px 4px 10px;
}

.header p {
   color: #fff; 
   font-size: 48px;
   font-weight: lighter;
   text-shadow:#000000 4px 4px 10px;
}

.header button{
   background: #b10333;
   padding: 18px 38px;
   border: none;
   margin-top: 40px; 
}

.header button a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

#header {
  height: 150px;
  padding-top: 35px;
}

.logo {
  width: 152px;
  height: 66px;
  float: right;
  margin-right: 150px;
  text-indent: 30px;
  color: #fff;
  text-shadow: #000000 4px 4px 10px
}

#menu-site {
  display: flex;
  float: right;
  margin-right: 200px;
  line-height: 50px;
}

#header a {
  margin-top: 30px;
  background: url(divisor.png) no-repeat left center;
  background-color: #b10333;
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  display: block;
  padding: 0.5em 1.5em;
  line-height: 2.1em;
  text-decoration: none;
  color: #fff;
} 

#header a:hover {
  color: #59001a;  
}

body.principal a#principal,
body.home a#home,
body.sobre a#sobre,
body.contato a#contato,
body.blog a#blog {
   color: #fff;
   background: #de003e;
   cursor: text;
}







